{% from "_includes/forms" import textField, lightswitchField, autosuggestField %}

{{ lightswitchField({
  label: "Should commerce send cart information to gateway when making transactions."|t('commerce'),
  id: 'sendCartInfo',
  name: 'sendCartInfo',
  on: gateway.sendCartInfo,
  errors: gateway.getErrors('sendCartInfo'),
}) }}

{{ autosuggestField({
  label: 'API key'|t('commerce'),
  id: 'apiKey',
  class: 'ltr',
  name: 'apiKey',
  value: gateway.apiKey,
  suggestEnvVars: true,
  errors: gateway.getErrors('apiKey')
}) }}

{{ autosuggestField({
  label: "Locale"|t('commerce'),
  id: 'locale',
  class: 'ltr',
  name: 'locale',
  value: gateway.locale,
  suggestEnvVars: true,
  errors: gateway.getErrors('locale')
}) }}

{{ lightswitchField({
  label: "Test mode?"|t('commerce'),
  name: 'testMode',
  on: parseBooleanEnv('$MULTISAFEPAY_TEST_MODE') or gateway.testMode,
  errors: gateway.getErrors('testMode'),
}) }}
