{% from "_includes/forms" import lightswitchField, autosuggestField, booleanMenuField %}

{{ booleanMenuField({
  label: "Should commerce send cart information to gateway when making transactions."|t('commerce'),
  id: 'sendCartInfo',
  name: 'sendCartInfo',
  value: gateway.getSendCartInfo(false),
  includeEnvVars: true,
  errors: gateway.getErrors('sendCartInfo'),
}) }}

{{ autosuggestField({
  label: 'API key'|t('commerce'),
  id: 'apiKey',
  class: 'ltr',
  name: 'apiKey',
  value: gateway.getApiKey(false),
  suggestEnvVars: true,
  errors: gateway.getErrors('apiKey')
}) }}

{{ autosuggestField({
  label: "Locale"|t('commerce'),
  id: 'locale',
  class: 'ltr',
  name: 'locale',
  value: gateway.getLocale(false),
  suggestEnvVars: true,
  errors: gateway.getErrors('locale')
}) }}

{{ booleanMenuField({
  label: "Test mode?"|t('commerce'),
  name: 'testMode',
  value: gateway.getTestMode(false),
  includeEnvVars:true,
  errors: gateway.getErrors('testMode'),
}) }}
